*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* garante que os elementos terão o mesmo tamanho, ideal para 
    trabalhar com responsividade */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;

    background-color: rgb(214, 127, 238);
    height: 10%;
    padding: 20px;
}

h1{
    text-transform: uppercase;
    color: rgb(111, 57, 112);
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    min-height: 89vh;
    background-image: radial-gradient(rgb(211, 50, 233),rgb(217, 122, 234), rgb(179, 24, 199));
   
}

form{

    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 20wv;
    margin-top: 10vh;
    
}

.formulario {


}

footer{
    background-color: rgb(214, 127, 238);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

h3{
    color:rgb(111, 57, 112);
}